* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.button {
  background-color: #b61984;
  border-radius: 30px;
  padding: 10px 14px;
  color: white;
}
.button:hover, .button:focus {
  background-color: white;
  border: 1px solid #b61984;
  color: #b61984;
  cursor: pointer;
  box-shadow: inset 0 3.5em 0 0 white, inset 0 -3.5em 0 0 white;
  transition: all 0.75s;
}

.button {
  background-color: #b61984;
  border-radius: 30px;
  padding: 10px 14px;
  color: white;
}
.button:hover, .button:focus {
  background-color: white;
  border: 1px solid #b61984;
  color: #b61984;
  cursor: pointer;
  box-shadow: inset 0 3.5em 0 0 white, inset 0 -3.5em 0 0 white;
  transition: all 0.75s;
}

.header .container .logo__wrapper img {
  height: 100%;
}
.header .container .navbar a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}
.header .container .call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}