@import "../layouts/banner";
@import "../layouts/contact";
@import "../layouts/footer";
@import "../layouts/header";
@import "../layouts/navigation";
@import "../layouts/staff";

/* Phones  */
@media screen and (max-width: 575.98px) {
  .footer {
    padding-bottom: 0px;
    background-position: 0px 690px !important;
    .contact__wrapper {
      margin-top: 30px;
    }
  }
}

/* Tablets  */
@media only screen and (max-width: 991.98px) {
  .header {
    .navbar,
    .call-btn,
    .social__wrapper {
      display: none !important;
    }
    .logo__wrapper {
      display: flex;
      align-items: center;
      .fa-bars {
        height: 100%;
        font-size: 60px;
        margin-right: 30px;
      }
    }
  }
  .banner {
    background-position: 0px 100px !important;
    .banner__content {
      margin-top: 160px !important;
      p {
        font-size: 60px !important;
      }
    }
    .banner__img {
      img {
        height: 60%;
      }
    }
  }
  .staff {
    .container-fluid {
      padding-top: 120px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  .contact {
    form {
      width: 100% !important;
      margin-top: 24px !important;
      .form-wrapper {
        margin-top: 14px;
      }
    }
  }
  .footer {
    padding-bottom: 0px;
    background-position: 0px 200px;
    .contact__wrapper {
      margin-top: 30px;
    }
  }
}

/* Desktops  */
/* @media only screen and (max-width: 1199.98px) {

} */
