@import "../utils/variables";
@import "../components/buttons";
.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .container {
    .logo__wrapper {
      img {
        height: 100%;
      }
    }
    .navbar {
      a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 16px;
      }
    }
    .call-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .social__wrapper {
      padding: 0 20px;
      display: flex;
      justify-content: space-evenly;
      a {
        text-decoration: none;
        color: #000;
        &:hover {
          color: $primary--color;
        }
      }
    }
  }
}
