@import "../utils/variables";

.staff {
  padding-top: 720px;
  background-image: url(../../img/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 500px;
  .container-fluid {
    padding: 0 120px;
    background-color: $secondary-color;
    background-image: url(../../img/Wave_White_bottom_right_shape_01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 400px;
    .card {
      margin: 0 10px;
      text-align: center;
      background-color: white;
      padding-bottom: 40px;
      margin-top: 36px;
      overflow: hidden;
      border-radius: 14px;
      transition: all 0.75s;

      &:hover {
        -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.15);
      }
      .card-img__wrapper {
        overflow: hidden;
        .card-img-top {
          transition: all 0.75s;
          &:hover {
            transform: scale(1.05);
          }
        }
      }

      .card-body {
        padding: 0 26px;
        .nationality {
          margin-top: 10px;
          text-transform: uppercase;
          font-size: 12px;
          color: $primary--color;
          font-weight: 700;
        }
        .card-title {
          font-weight: 700;
        }
        .card-text {
        }
      }
    }
    @for $i from 1 through 8 {
      .card-item-#{$i} {
        animation-delay: $i * 0.15s;
      }
    }
  }
}
